
.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 25px;
  background-color: #2a2a2a; 
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  box-sizing: border-box; 
}


h2 {
  font-size: 2rem; 
  margin-bottom: 20px;
  color: #ffffff; 
  font-weight: 600;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  margin: 8px 0;
  width: 95%;
  background-color: #333;
  color: #f4f4f4;
  transition: background-color 0.3s, border-color 0.3s;
}

input:focus {
  border-color: #3797f0;
  outline: none;
  background-color: #444;
}

button {
  padding: 14px;
  background-color: #3797f0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.125rem; 
  font-weight: bold;
}

button:hover {
  background-color: #2979d9;
 
}

button:active {
  transform: translateY(1px);
}

.error {
  color: red;
  font-size: 0.875rem; 
  margin: 10px 0;
  text-align: left;
}

p {
  margin-top: 25px;
  font-size: 0.875rem; 
  color: #bbb;
}

a {
  color: #3797f0;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .auth-container {
    max-width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 1.875rem; 
  }

  input {
    padding: 10px;
    font-size: 0.9375rem; 
  }

  button {
    padding: 12px;
    font-size: 1rem; 
  }

  p {
    font-size: 0.75rem; 
  }
}

@media (max-width: 768px) {
  .auth-container {
    padding: 15px;
    max-width: 95%;
  }

  h2 {
    font-size: 1.5rem; 
  }

  input {
    padding: 12px;
    font-size: 1rem; 
  }

  button {
    padding: 12px;
    font-size: 1rem; 
  }

  p {
    font-size: 0.75rem; 
  }
}

@media (max-width: 480px) {
  .auth-container {
    padding: 10px;
    max-width: 100%;
  }

  h2 {
    font-size: 1.25rem; 
  }

  input {
    padding: 10px;
    font-size: 0.875rem; 
  }

  button {
    padding: 10px;
    font-size: 0.875rem; 
  }

  p {
    font-size: 0.75rem; 
  }
}

.validation-error{
  color: red;
  margin: 0px;
  text-align: left;
  padding-left: 1rem;
  
}